fastapi
uvicorn[standard]
gunicorn
firebase-admin
pydantic-settings
Pillow
faiss-cpu
numpy
orjson
python-multipart
openai # optional, for OpenAI provider
pytest
sentence-transformers
aiohttp
numpy
torch --index-url https://download.pytorch.org/whl/cpu
